header{
    max-width: 1440px;
    margin: 0 auto;
}
.header__hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__hero--nav ul{
    display: flex;
    gap: 1rem;
}

.header__hero--nav ul li{
    list-style: none;
}
.header__hero--nav ul li a{
    text-decoration: none;
}