
//Variables
$font:'Rubik', sans-serif;
$color-primario: #5166DD;
$color-secundario: black;
$color-menu: #242946;
$color-login:#FC575B;
$color-silver:#A2A3A9;
$color-barra:#FA5856;
$color-claro: #FFF;

@mixin tarjet {
	height: 25rem;
	width: 19.6rem;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(84, 83, 83, 0.41);
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
  }

body{
	color: $color-secundario;
	
}

.decoration-body{
	position: absolute;
	width: 30rem;
	height: 20rem;
	background-color: $color-primario;
	z-index: -1;
	top: 25%;
	border-radius: 50% 0 0 50%;
	left: 100%;
	transform: translate(-100%, 0);
	@include media(tablet-l-only){
		top: 43%;
    }

}



