
//Variables
$font:'Rubik', sans-serif;
$color-primario: #5166DD;
$color-secundario: black;
$color-login:#FC575B;
$color-silver:#A2A3A9;
$color-barra:#FA5856;
$color-claro: #FFF;

body{
	color: $color-secundario;
	
}



