
//Variables
$font:'Rubik', sans-serif;
$color-primario: #5166DD;
$color-secundario: black;
$color-login:#FC575B;
$color-silver:#A2A3A9;
$color-barra:#FA5856;
$color-claro: #FFF;

@mixin tarjet {
	height: 25rem;
	width: 20rem;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(84, 83, 83, 0.41);
  }

body{
	color: $color-secundario;
	
}



