.header{
    max-width: 1440px;
    
    margin:  0 auto;
    &__hero{
        background-color: red;
        display: flex;
        justify-content: space-between;
        &--nav ul{
            display: flex;
            gap: 3rem;
            list-style: none;
        }
    }
}


