.hamburger{
    display: none;
    &__icon{
        display: none;
        @include media(tablet-l-only){
            display: block;
            margin-right: 3rem;
        }
    }
    @include media(tablet-l-only){
        display: block;
    }
    &__nav{
        display: none;
    }
}

#hamburger__on{
    display: block;
    position: fixed;
    height: 200rem;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.485);
    z-index: 1;

    &--nav{
        display: block;
        position: fixed;
        z-index: 4;
    }
}
