.header{
    max-width: 1440px;
    margin:  0 auto;
    
    &__hero{
        // background-color: red;
        max-width: 1440px;
        position: fixed;
        width: 100%;
        z-index: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-top: 2rem;
        &--nav {
            height: 100%;
            // background-color: green;
            
            & ul{
                display: flex;
                height: 100%;
                gap: 3rem;
                list-style: none;
                align-items: center;
                // background-color: pink;
                margin-right: 3rem;
            }
            & li a{
                color: $color-secundario;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
    &__content{
        display: flex;
        gap: 10%;
        height: 50rem;
        align-items: center;

        &--info{
            width: 50%;

            & h1 {
                font-size: 3.5rem;
            }
            & p {
                margin: 3rem 0;
                font-size: 1.7rem;
                color: $color-silver;
            }
        }

        &--img img{
            box-shadow: 0 0 2px 15px rgba(54, 52, 52, 0.987);
            border-radius: 10px;    
        }
    }
}
.btn{
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(84, 83, 83, 0.41);
    cursor: pointer;
    padding: .8rem 1.6rem;

    &-principal{
        background-color: rgb(93, 93, 242);
        color: white;
        margin-right: 15px;
    }
}

#btn-red{
    color: white;
    padding: .8rem 2.5rem;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(84, 83, 83, 0.41);
}

.logo-header{
    fill: $color-secundario;
}


