.main__extention{
    text-align: center;
    max-width: 1440px;
    margin: 2rem auto;
    &--tittle{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        @include media(mobile-small){
            font-size: 1.8rem;
        }   
    }
    &--info{
        width: 50%;
        font-size: 1.5rem;
        margin: 2rem auto 6rem auto;
        color: $color-silver;
        @include media(mobile-small){
            width: 90%;
            font-size: 1rem;
        }   
    }
    &__options{
        display: flex;
        gap: 3rem;
        justify-content: center;
        @include media(tablet-l-only){
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }
        &--chrome{
            @include tarjet;
            & h3{
                margin-top: 30px;
                font-size: 1.5rem;

            }
            & p{
                font-size: 1.2rem;
                color: $color-silver;
            }
            & img{
                width: 120px;
            }
        }
        
        &--firefox{
            @include tarjet;
            margin-top: 4rem;
            @include media(tablet-l-only){
                margin-top: 2rem;
            }
            & h3{
                margin-top: 30px;
                font-size: 1.5rem;
            }
            & p{
                font-size: 1.2rem;
                color: $color-silver;
            }
            & img{
                width: 120px;
            }
        }
        
        &--opera{
            @include tarjet;
            margin-top: 8rem;
            @include media(tablet-l-only){
                margin-top: 2rem;
                margin-bottom: 5rem;
            }
            & h3{
                margin-top: 30px;
                font-size: 1.5rem;
            }
            & p{
                font-size: 1.2rem;
                color: $color-silver;
            }
            & img{
                width: 120px;
            }
        }
        
    }
}

.btn-extension{
    font-size: 1.2rem;
}
#puntos{
    margin: 0 0 1.5rem 0;
    width: 100%;
}