.main__features{
    max-width: 1440px;
    margin: 0 auto;

    &--tittle{
        font-size: 2.5rem;
    }

    &--info{
        width: 45rem;
        margin: 3rem auto;
        font-size: 1.7rem;
        color: $color-silver;
    }

    &__nav{
        display: flex;
        justify-content: center;
        gap: 10rem;
        font-size: 1.5rem;
        text-decoration: none;
        margin: 2rem 0;
        &-item{
            color: $color-secundario;
            position: relative;
        }
        &-item::after{
            position: absolute;
            background-color: red;
            content: "";
            width: 20rem;
            height: .5rem;
            left: 50%;
            top: 160%;
            transform: translate(-50%,0);
        }

        & a{
            text-decoration: none;
        }
    }
    
    &__content{
        display: flex;
        margin: 5rem auto;
        gap: 10rem;
        align-items: center;

        & img{
            width: 100%;
        }

        &-info{
            text-align: left;

            & h2{
                font-size: 2.2rem;
            }

            & p{
                margin: 2rem 0;
                font-size: 1.5rem;
                color: $color-silver;
            }
        }
    }
}

.decoration-features{
    position: absolute;
	width: 35rem;
	height: 25rem;
	background-color: $color-primario;
	z-index: -1;
    top: 72%;
    left: 0;
    border-radius: 0 50% 50% 0;
}

.line__features{
    max-width: 65%;
    color: red;
}